<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login Page </title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
  <div>
    <h1 style="text-align: center;"> Table </h1>
  </div>  

  <div class="input-group" style="padding-left: 40%;">
    <div class="form-outline">
      <input type="search" id="search" class="form-control" placeholder="Search" />
    </div>
    <button type="button" class="btn btn-primary" onclick="search()">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <table class="table">
    <thead class="thead-ligth">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Bloqueado</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Bloquear</th>
        <th scope="col">Desbloquear</th>
      </tr>
    </thead>
    <tbody id="table">
      
    </tbody>
  </table>

  <script src="https://kit.fontawesome.com/e7cd538d8b.js" crossorigin="anonymous"></script>
  <script src="lista.js"></script>
</body>

</html>