<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login Page </title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
  <div>
    <h1 style="text-align: center;"> Table </h1>
  </div>  
  <table class="table">
    <thead class="thead-ligth">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Bloqueado</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Bloquear</th>
        <th scope="col">Desbloquear</th>
      </tr>
    </thead>
    <tbody id="table">
      
    </tbody>
  </table>

  



  <script src="lista.js"></script>
</body>

</html>